// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Variables for fonts
$primary-font: "Poppins", sans-serif;
$title-font: "Merriweather", sans-serif;

// Variabeles for Colors
$bg-color: #2B2D38;

$color-pink: #DB2A6B;
$color-white: #FFFFFF;
$color-grey: #ABABAB;

